.bck_black {
    background: #3c3c3c;
}

.vn_wrapper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 80px 0px;
    justify-content: space-evenly;
}

.vn_item{
    min-width: 20%;
    color:#ffffff;
    text-align: center;
}

.vn_outer{
    border: 2px solid #828282;
    padding: 5px;
    margin: auto;
    margin-top: 70px;   
    width: 300px;
}

.vn_inner{
    padding: 0px 20px;
    border: 2px solid #828282;
    position: relative;
    transition: all 500ms ease;
}

.vn_inner:hover {
    background: #3e3e3e;
}

.vn_icon_square{
    position: absolute;
    top: -54px;
    left: 100px;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);   
}

.vn_icon{
    position: absolute;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    top: -30px;
    left: 124px;
    width: 50px;
    height: 50px;
}

.vn_title{
    margin: 90px 0px 20px 0px;
    font-size: 28px;
    border-bottom: 1px solid #5d5d5d;
    padding-bottom: 10px;
}

.vn_desc{
    font-weight: 300;
    font-size: 28px;
    padding: 0px 20px;
    margin-bottom: 100px;
}