/*====================
        Carousel
=====================*/

.carrousel_wrapper{
    max-height: 100%;
    height: 50%;
    overflow: hidden;
}

.carrousel_image {
    background-size: cover !important;
    background-position: center;
}

.band_name{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 300px;
    max-width: 400px;
    height: 100px;
    transform: translate(-50%, -50%);
    border: 2px solid white;
}

.wrapper{
    border: 2px solid white;
    height: 60px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin: 8px;
    padding: 20px 70px 0px;
    text-transform: uppercase;;
}

/*====================
        Time
=====================*/

.countdown_wrapper{
    position: absolute;
    color:#ffffff;
    bottom: 0;
}

.countdown_top{
    font-size: 1.4vmax;
    background: #ff4800;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px;
}

.countdown_bottom{
    background: #d93d00;
    display: flex;
    padding: 10px 20px;
}

.countdown_time{
    font-size: 5vmax;
    border-right: 1px solid #F44336;
    margin-right: 14px;
    padding-right: 2vmax;
}

.countdown_tag{
    text-transform: uppercase;
    font-size: 1.7vmax;
    padding-left: 7px;
}

.no_border{
    padding-right: 0px;
    border: none;
}